		<p><pre><code>@article{GallNaab202,
  author = {Gallenm\"uller, Sebastian and Naab, Johannes and Adam, Iris and Carle, Georg},
  journal = {IEEE Communications Magazine},
  title = {5G URLLC: A Case Study on Low-Latency Intrusion Prevention},
  year = {2020},
  volume = {58},
  number = {10},
  pages = {35-41},
  month = oct,
  doi = {10.1109/MCOM.001.2000467},
  pdf = {http://www.net.in.tum.de/fileadmin/bibtex/publications/papers/gallenmueller_mcom2020.pdf},
  month_numeric = {10}
}</code></pre></p>
